{% extends theme('base.html') %}
{% import 'macro/flask.html' as flask %}
{% import 'macro/form.html' as fui %}

{% block container %}
    <div class="ui container">
        <div class="content">
            <div class="ui clearing segment">
                {% if logo_url %}
                    <a href="{{ url_for('account.index') }}">
                        <img class="ui tiny centered image" src="{{ logo_url }}" alt="{{ website_name }}">
                    </a>
                {% else %}
                    <i class="massive sign in icon image ui"></i>
                {% endif %}

                <h2 class="ui center aligned header">
                    <div class="content">
                        {{ _("Sign in at %(website)s", website=website_name) }}
                    </div>
                    <div class="sub header">{% trans %}Manage your information and your authorizations{% endtrans %}</div>
                </h2>

                {{ flask.messages() }}

                {% call fui.render_form(form) %}
                    {% block login_field scoped %}{{ fui.render_field(form.login, icon="user", noindicator=true, class="autofocus") }}{% endblock %}

                    {% if "password" in form %}
                        {% block password_field scoped %}{{ fui.render_field(form.password, icon="key", noindicator=true) }}{% endblock %}
                    {% endif %}

                    <div class="ui right aligned container">
                        <div class="ui stackable buttons">
                            {% if has_smtp and has_password_recovery %}
                                <a type="button" class="ui right floated button" href="{{ url_for('account.forgotten') }}">{{ _("Forgotten password") }}</a>
                            {% endif %}
                            <button type="submit" class="ui right floated primary button">{{ _("Continue") }}</button>
                        </div>
                    </div>
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}
